<nav class="navbar navbar-default navbar-light bg-faded navbar-fixed-top" id="navbar">
  <div class="container">
      <a class="navbar-brand" href="#">MyApp</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#jumbotron">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer">Download The App</a>
      </li>
    </ul>
  </nav>
