<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function () {
                $(".datepicker").datepicker();
            });
        </script>
</head>

<body>
    <!-- TODO (do partials?) -->

    <% include ../partials/nav.ejs %>

        <div style="background-color: #e3f2fd; width: 100%;">
            <div class="container" style="padding: 15px;">
                <div class="row">
                    <div class="col">
                        <img src="img/habitacion.jpg" style="height: 100%; width: 100%; object-fit: contain">
                    </div>
                    <div class="col">
                        <% results.forEach(function(r) { %>
                            <h1>
                                <%= r.nombre_servicio %>
                            </h1>
                            <p>
                                <%= r.descripcion %>.
                            </p>
                            <% }); %>
                                <form action="https://bitpay.com/checkout" method="post">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="habDobleName">Nombre:</label>
                                                <input type="text" class="form-control" id="habDobleName" placeholder="Nombre">
                                            </div>
                                            <div class="form-group">
                                                <label for="habDobleMail">Email:</label>
                                                <input type="email" class="form-control" id="habDobleMail" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="habDobleFechaIn">Llegada:</label>
                                                <input type="date" class="form-control datepicker" id="habDobleFechaIn" placeholder="Fecha de llegada">
                                            </div>
                                            <div class="form-group">
                                                <label for="habDobleFechaOut">Salida:</label>
                                                <input type="date" class="form-control datepicker" id="habDobleFechaOut" placeholder="Fecha de salida">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="checkoutHabDoble">Paga en Bitcoin haciendo clic en el botón o escanea el código QR con el móvil:</label>
                                        <input type="hidden" name="action" value="cartAdd" />
                                        <input type="hidden" name="data" value="MX8VruNipjXemLSmPNJdjq" />
                                        <div id="checkoutHabDoble">
                                            <input type="image" src="https://bitpay.com/img/button7.png" border="0" name="submit" alt="BitPay, pay with bitcoins.">
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalHabDoble">
                                                Código QR
                                            </button>
                                        </div>
                                        <!-- <div class="col">
                                                    <p>Link Manual</p>
                                                </div> -->
                                    </div>
                                </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalHabDoble" tabindex="-1" role="dialog" aria-labelledby="QR-habitacion-doble" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalHabDobleLabel">QR Habitación Doble</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="qr/habDoble.png" style="height: 100%; width: 100%; object-fit: contain">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>

</body>

</html>