<!doctype html>
<html>
<head>
  <% include ../partials/header.ejs %>
<style>
    .jumbotron {
        background-image: url(img/hotel1.jpg);
        text-align: center;
        margin-top: 50px;
    }
    #email {
        width: 300px;
    }
    #appSummary {
        text-align: center;
        margin-top:50px;
        margin-bottom: 50px;
    }
    .card-img-top {
        width: 100%;
    }
    #appStoreIcon {
        width: 200px;
    }
    #footer {   
        background-color: #e3f2fd;
        padding-top: 150px;
        margin-top: 50px;
        text-align: center;
        padding-bottom: 150px;
    } 
    body {
        position: relative;
    }
</style>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron" id="jumbotron">
      <h1 class="display-3">Hoteles Mortadela</h1>
      <p class="lead">La mejor calidad y el mejor servicio</p>
      <hr class="m-y-2">
      <p>Aceptamos pago con Bitcoins</p>
    </div>

    <div class="container">

      <div class="row" id="appSummary">

        <h1>Alojaminento Premium</h1>
        <p class="lead">Echa un vistazo a nuestras habitaciones</p>

      </div>

    </div>

    <div class="container" id="about">
      <div class="card-deck-wrapper">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="img/habitacion.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">
                <i class="fa fa-anchor"></i> Card title</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                a little bit longer.</p>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/habitacion.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">
                <i class="fa fa-bicycle"></i> Card title</h4>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/habitacion.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">
                <i class="fa fa-birthday-cake"></i> Card title</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even
                longer content than the first to show that equal height action.</p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">

      <div class="row">

        <h2>Download the app!</h2>

        <p class="lead">Really, why should I download this app??</p>

        <p>
          <a href="">
            <img id="appStoreIcon" src="img/App-Store-Icon.png">
          </a>
        </p>

      </div>

    </div>

</body>
</html>