<!doctype html>
<html>
<head>
  <% include ../partials/header.ejs %>
<style>
    .jumbotron {
        background-image: url(img/hotel1.jpg);
        text-align: center;
        margin-top: 50px;
        width: 100%;
    }
    .hotelSummary {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .card-img-top {
        width: 100%;
    }
    #appStoreIcon {
        width: 200px;
    }
    .hotelFooter {   
        background-color: #e3f2fd;
        text-align: center;
        padding-top: 150px;
        margin-top: 50px;
        padding-bottom: 150px;
    } 
</style>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron" id="jumbotron">
      <h1 class="display-3">Hoteles Mortadela</h1>
      <p class="lead">La mejor calidad y el mejor servicio</p>
      <hr class="m-y-2">
      <p>Aceptamos pago con Bitcoins</p>
    </div>

    <div class="container hotelSummary">

      <div class="row">
        <h1>Alojamiento Premium</h1>
        <p class="lead">Echa un vistazo a nuestras habitaciones</p>

      </div>

    </div>

    <div class="container" id="about">
      <div class="card-deck-wrapper">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="img/habitacion.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">
                <i class="fa fa-bed"></i> Habitación Doble</h4>
              <p class="card-text">Habitación doble toda crema.</p>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/habitacion.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">
                <i class="fa fa-bed"></i> Habitación Simple</h4>
              <p class="card-text">Habitación simple.</p>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/habitacion.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">
                <i class="fa fa-sun-o"></i> Excursión a la playa</h4>
              <p class="card-text">Agua y arena.</p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hotelFooter">
      <div class="row">
        <h2>¡Reserva ya!</h2>
        <p class="lead">Pasa un momento inolvidable</p>
        <p>
          <a href="">
            <img id="appStoreIcon" src="img/App-Store-Icon.png">
          </a>
        </p>
      </div>
    </div>
</body>
</html>